USE [Empresa2]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEmpleado]    Script Date: 10/4/2025 1:32:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertarEmpleado]
	@id INT,
	@ValorDocumentoIdentidad VARCHAR(20),
	@Nombre VARCHAR(128),
	@NombrePuesto VARCHAR(128),
	@FechaContratacion DATE,
	@CodigoError INT OUTPUT,
	@idPostByUser INT, --SALE DE USER
	@PostInIP VARCHAR(45) --ES LA IP
AS
BEGIN
	SET NOCOUNT ON;
	SET @CodigoError=0;
	DECLARE @idPuesto INT, @descrip VARCHAR(MAX);

	BEGIN TRY
		IF @id <=0
		BEGIN
			SET @CodigoError=50008; --ERROR=> ID MAL PUESTO

			SET @descrip = 'ERROR '+CAST(@CodigoError AS VARCHAR(10))+'Documento identidad'+@ValorDocumentoIdentidad+
			'Nombre: '+@Nombre+'Puesto: '+@NombrePuesto;

			EXEC sp_GuardarEvento 5,@descrip,@idPostByUser,@PostInIP;
			RETURN;
		END

		IF @ValorDocumentoIdentidad LIKE '%[^0-9]%'
		BEGIN
			SET @CodigoError=50010; --ERROR=> Valor de doc no numerico

			SET @descrip = 'ERROR '+CAST(@CodigoError AS VARCHAR(10))+'Documento identidad: '+@ValorDocumentoIdentidad+
			'Nombre: '+@Nombre+'Puesto: '+@NombrePuesto;

			EXEC sp_GuardarEvento 5,@descrip,@idPostByUser,@PostInIP;
			RETURN;
		END

		IF @Nombre LIKE '%[^A-Za-z ]%'
		BEGIN
			SET @CodigoError=50009;--ERROR=> NOMBRE NO ALFABETICO

			SET @descrip = 'ERROR '+CAST(@CodigoError AS VARCHAR(10))+'Documento identificacion:  '+@ValorDocumentoIdentidad+
			'Nombre: '+@Nombre+'Puesto: '+@NombrePuesto;

			EXEC sp_GuardarEvento 5,@descrip,@idPostByUser,@PostInIP;
			RETURN;
		END

		IF EXISTS(SELECT 1 FROM Empleado WHERE valorDocumentoIdentidad=@ValorDocumentoIdentidad)
		BEGIN
			SET @CodigoError=50004; --ERROR=> VALOR DE INDENTIDAD YA EXISTE

			SET @descrip = 'ERROR '+CAST(@CodigoError AS VARCHAR(10))+'Documento identificacion: '+@ValorDocumentoIdentidad+
			'Nommbre: '+@Nombre+'Puesto: '+@NombrePuesto;

			EXEC sp_GuardarEvento 5,@descrip,@idPostByUser,@PostInIP;
			RETURN;
		END

		IF EXISTS(SELECT 1 FROM Empleado WHERE Nombre=@Nombre)
		BEGIN
			SET @CodigoError=50005;--ERROR=> MISMO NOMBRE Y APELLIDO

			SET @descrip = 'ERROR '+CAST(@CodigoError AS VARCHAR(10))+'Documento identificacion: '+@ValorDocumentoIdentidad+
			'Nommbre: '+@Nombre+'Puesto: '+@NombrePuesto;

			EXEC sp_GuardarEvento 5,@descrip,@idPostByUser,@PostInIP;
			RETURN;
		END

		SELECT @idPuesto=id FROM Puesto WHERE nombre=@NombrePuesto;
		IF @idPuesto IS NULL
		BEGIN
			SET @CodigoError=50008; --ERROR=> PUESTO NO ENCONTRADO.

			SET @descrip = 'ERROR '+CAST(@CodigoError AS VARCHAR(10))+'Documento identificacion: '+@ValorDocumentoIdentidad+
			'Nommbre: '+@Nombre+'Puesto: '+@NombrePuesto;

			EXEC sp_GuardarEvento 5,@descrip,@idPostByUser,@PostInIP;
			RETURN;
		END

		INSERT INTO Empleado(id,idPuesto,valorDocumentoIdentidad,Nombre,fechaContratacion,saldoVacaciones,esActivo)
		VALUES(@id,@idPuesto,@ValorDocumentoIdentidad,@Nombre,@FechaContratacion,0,1);

		SET @descrip ='Exito al insertar. DocumentoIdentidad:'+@ValorDocumentoIdentidad+
		'Nombre:'+@Nombre+'Puesto'+@NombrePuesto;

		EXEC sp_GuardarEvento 6,@descrip,@idPostByUser,@PostInIP;

		SET @CodigoError=0;
	END TRY
	BEGIN CATCH
		SET @CodigoError=50008;
		SET @descrip = 'ERROR '+CAST(@CodigoError AS VARCHAR(10))+'Documento identidad: '+@ValorDocumentoIdentidad+
			'Nombre: '+@Nombre+'Puesto: '+@NombrePuesto;

			EXEC sp_GuardarEvento 5,@descrip,@idPostByUser,@PostInIP;
	END CATCH
END;