USE [Empresa2]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogOut]    Script Date: 10/4/2025 2:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_LogOut] --Como estaba LoggedIN se asume que existe el usuario para el LogOut
	@User VARCHAR(128),
	@PostInIP VARCHAR(45)
AS 
BEGIN
	SET NOCOUNT ON;
	DECLARE @userID INT; --SE DECLARA UN INT PORQUE idPostByUser recibe un INT y no un varchar
	SELECT @userID=id FROM Usuario WHERE Username=@User;

	EXEC sp_GuardarEvento 4, 'Logout',@userID,@PostInIP;
	RETURN 0;
END
