USE [Empresa2]
GO
/****** Object:  StoredProcedure [dbo].[sp_obtenerTipoMov]    Script Date: 10/19/2025 1:42:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_obtenerTipoMov]
AS
BEGIN
	SELECT id,Nombre FROM TipoMovimiento;
END;