USE [Empresa2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ActualizarEmpleado]
    @valorDocumentoIdentidadActual VARCHAR(20),
    @nuevoValorDocumentoIdentidad VARCHAR(20) = NULL,
    @nuevoNombre VARCHAR(128) = NULL,
    @nuevoPuesto VARCHAR(128) = NULL, -- NOMBRE DEL PUESTO NO EL ID
    @PostByUser INT,
    @PostInIP VARCHAR(45),
    @CodigoError INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @descrip VARCHAR(MAX), 
        @nombreActual VARCHAR(128), 
        @puestoActual VARCHAR(128), 
        @saldoV DECIMAL(10,2), 
        @idPuestoNew INT,
        @idEmpleadoActual INT,
        @idEmpleadoNuevo INT;

    -- Obtener datos actuales del empleado
    SELECT 
        @idEmpleadoActual = e.id,
        @nombreActual = e.Nombre, 
        @puestoActual = p.Nombre, 
        @saldoV = e.saldoVacaciones
    FROM Empleado e
    INNER JOIN Puesto p ON e.idPuesto = p.id
    WHERE e.valorDocumentoIdentidad = @valorDocumentoIdentidadActual;

    -- Validar que el empleado exista
    IF @idEmpleadoActual IS NULL
    BEGIN
        SET @CodigoError = 50008;
        SET @descrip = 'El empleado que se intentó actualizar NO existe. Documento Identidad actual: ' 
                        + @valorDocumentoIdentidadActual 
                        + ', Nombre del empleado: ' + ISNULL(@nombreActual,'N/A') 
                        + ', Nombre del puesto: ' + ISNULL(@puestoActual,'N/A') 
                        + ', Saldo de vacaciones: ' + CAST(ISNULL(@saldoV,0) AS VARCHAR(20));
        EXEC sp_GuardarEvento 7,@descrip,@PostByUser,@PostInIP;
        RETURN @CodigoError;
    END;

    -- Validar duplicados de DocumentoIdentidad
    IF @nuevoValorDocumentoIdentidad IS NOT NULL
       AND EXISTS (
           SELECT 1 FROM Empleado
           WHERE valorDocumentoIdentidad = @nuevoValorDocumentoIdentidad
             AND valorDocumentoIdentidad <> @valorDocumentoIdentidadActual
       )
    BEGIN
        SET @CodigoError = 50006;
        SET @descrip = 'Existe un empleado con ese valor de Documento identidad. Documento Identidad actual: ' 
                        + @valorDocumentoIdentidadActual 
                        + ', Nombre del empleado: ' + ISNULL(@nombreActual,'N/A') 
                        + ', Nombre del puesto: ' + ISNULL(@puestoActual,'N/A') 
                        + ', Saldo de vacaciones: ' + CAST(ISNULL(@saldoV,0) AS VARCHAR(20));
        EXEC sp_GuardarEvento 7,@descrip,@PostByUser,@PostInIP;
        RETURN @CodigoError;
    END;

    -- Validar duplicados de Nombre
    IF @nuevoNombre IS NOT NULL
       AND EXISTS (
           SELECT 1 FROM Empleado
           WHERE Nombre = @nuevoNombre
             AND valorDocumentoIdentidad <> @valorDocumentoIdentidadActual
       )
    BEGIN
        SET @CodigoError = 50007;
        SET @descrip = 'Existe un empleado con ese Nombre. Documento Identidad actual: ' 
                        + @valorDocumentoIdentidadActual 
                        + ', Nombre del empleado: ' + ISNULL(@nombreActual,'N/A') 
                        + ', Nombre del puesto: ' + ISNULL(@puestoActual,'N/A') 
                        + ', Saldo de vacaciones: ' + CAST(ISNULL(@saldoV,0) AS VARCHAR(20));
        EXEC sp_GuardarEvento 7,@descrip,@PostByUser,@PostInIP;
        RETURN @CodigoError;
    END;

    -- Validar nuevo puesto si viene
    IF @nuevoPuesto IS NOT NULL
    BEGIN
        SELECT @idPuestoNew = id FROM Puesto WHERE Nombre = @nuevoPuesto;
        IF @idPuestoNew IS NULL
        BEGIN
            SET @CodigoError = 50008;
            SET @descrip = 'El nombre del puesto ingresado no existe. Documento Identidad actual: ' 
                            + @valorDocumentoIdentidadActual
                            + ', Nombre del empleado: ' + ISNULL(@nombreActual,'N/A') 
                            + ', Nombre del puesto: ' + ISNULL(@puestoActual,'N/A') 
                            + ', Saldo de vacaciones: ' + CAST(ISNULL(@saldoV,0) AS VARCHAR(20));
            EXEC sp_GuardarEvento 7,@descrip,@PostByUser,@PostInIP;
            RETURN @CodigoError;
        END
    END

    -- Actualizar Empleado
    UPDATE Empleado
    SET
        valorDocumentoIdentidad = COALESCE(@nuevoValorDocumentoIdentidad, valorDocumentoIdentidad),
        Nombre = COALESCE(@nuevoNombre, Nombre),
        idPuesto = COALESCE(@idPuestoNew, idPuesto)
    WHERE id = @idEmpleadoActual;

    -- Actualizar Movimientos usando el Id interno
    SET @idEmpleadoNuevo = @idEmpleadoActual; -- por defecto
    IF @nuevoValorDocumentoIdentidad IS NOT NULL
    BEGIN
        SELECT @idEmpleadoNuevo = id 
        FROM Empleado 
        WHERE valorDocumentoIdentidad = @nuevoValorDocumentoIdentidad;
    END

    UPDATE Movimiento
    SET IdEmpleado = @idEmpleadoNuevo
    WHERE IdEmpleado = @idEmpleadoActual;

    -- Guardar evento exitoso
    SET @CodigoError = 0;
    SET @descrip = 'Update exitoso. Documento Identidad anterior: ' + @valorDocumentoIdentidadActual
                    + ', Documento Identidad nuevo: ' + ISNULL(@nuevoValorDocumentoIdentidad,@valorDocumentoIdentidadActual)
                    + ', Nombre del empleado anterior: ' + ISNULL(@nombreActual,'N/A')
                    + ', Nombre nuevo: ' + ISNULL(@nuevoNombre,@nombreActual)
                    + ', Nombre del puesto anterior: ' + ISNULL(@puestoActual,'N/A')
                    + ', Nuevo puesto: ' + ISNULL(@nuevoPuesto,@puestoActual)
                    + ', Saldo de vacaciones: ' + CAST(ISNULL(@saldoV,0) AS VARCHAR(20));

    EXEC sp_GuardarEvento 8,@descrip,@PostByUser,@PostInIP;
    RETURN @CodigoError;
END;
GO
